<%= form_for(@post_example) do |f| %>
  <% if @post_example.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_example.errors.count, "error") %> prohibited this post_example from being saved:</h2>

      <ul>
      <% @post_example.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :json_string %><br>
    <%= f.text_area :json_string %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
